.pleft-50 {
    padding-left: 50px;
}

.ptop-80 {
    padding-top: 80px;
}

.ptop-90 {
    padding-top: 90px;
}

.ptop-100 {
    padding-top: 165px;
}

.ptop-120 {
    padding-top: 120px;
}

.mtop-100 {
    margin-top: 100px;
}

.mtop-140 {
    margin-top: 140px;
}

.mtop-150 {
    margin-top: 110px;
}

.mbottom-100 {
    margin-bottom: 100px;
}

.mbottom-50 {
    margin-bottom: 30px;
}

.mbottom-120 {
    margin-bottom: 120px;
}

.container {
    max-width: 1248px;
}

.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 0;
}

.masonry-item {
    position: relative;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    cursor: pointer;
}


.masonry-item-desc {
    margin-top: 25px;
}

.masonry-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.masonry-item > .masonry-bg {
    transition: all 1s;
    filter: grayscale(1) opacity(0.60) brightness(1.15);
}

.masonry-item-content > .d-block {
    animation-name:  appear;
    animation-duration: 1.25s;
}

@keyframes appear {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.masonry-item.active > .masonry-bg {
    filter: grayscale(0);
}

.masonry-item > .logo {
    transition: all 1s;
    position: absolute;
    width: 180px;
}


.masonry-item.active > .logo {
    filter: brightness(0) invert(1);
}

.text-blue {
    display: block;
    font-size: 16px;
    font-weight: 600px;
    color: #1b3290;
}

.number-users {
    font-size: 30px;
    font-weight: 500;
    color: #555;
}

.letter-users {
    font-weight: 500;
    color: #555;
    line-height: 1.4;
}

.text-inline {
    width: 46px; 
    font-size: 16px; 
    display: inline-block;
    line-height: 1;
}

.text-inline-big {
    width: 100%; 
    font-size: 16px; 
    display: inline-block;
    line-height: 1;
} 

.number-inline {
    font-size: 70px; 
    vertical-align: middle;
}

.vertical-line {
    border-right: 2px solid gray;
    height: 60px;
    position: absolute;
    right: 71%;
}

.display-mobile {
    display: none;
}

.display-large-screen {
    display: block;
}

/* Masonry item specific styles */
#m-humm {
    top: calc(50% - 32px); 
    left: calc(50% - 84px);
}

.active > #m-humm {
    top: calc(50% - -60px);
    left: calc(50% - -55px);
    width: 115px;
}

#m-zip {
    top: calc(50% - 36px); 
    left: calc(50% - 82px);
}

.active > #m-zip {
    top: calc(50% - -63px);
    left: calc(50% - -85px);
    width: 85px;
}

#m-paypal {
    top: calc(50% - 20px); 
    left: calc(50% - 90px);
}

.active > #m-paypal {
    top: calc(50% - -176px);
    left: calc(50% - -4px);
    width: 130px;
}

.text-section__title {
    color: #555;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bnpl-statistics {
    font-size: 70px;
    font-weight: 600;
    color: #0b3280;
}

#cta-Content {
    width: 100%;
    padding: 50px;
    background: linear-gradient( 
        90deg, rgba(5,21,142,1) 0%, rgba(15,86,199,1) 86%);
    border-radius: 10px;
}

#footer-Content {
    border-top: 3px solid #ededed;
    padding-top: 10px;
    padding-bottom: 10px;
    background: transparent;
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) { 
    p {
        width: 90%;
    }
    .ipad-p0 {
        padding: 0 !important;
    }
    .masonry-item { 
        width: 100% !important;
    }
    .masonry {
        margin-top: 20px;
    }
    .text-inline-big {
        font-size: 12px;
    }
    .letter-users {
        line-height: 1.2;
        padding-top: 10px;
    }
    .number-users {
        font-size: 25px;
    }
    .header-content h1 {
        width: 100%;
        font-size: 50px;
        font-weight: 500;
        line-height: 1.3;
        color: #fff;
    }
    .header-p-content {
        width: 90%;
    }
    .number-inline {
        font-size: 50px;
    }
    .text-inline {
        font-size: 14px;
    }
    .text-section p br {
        display: none;
    }
    .tile-slider__item-desc {
        transform: translateY(calc(100% - -15px)) !important;
        -webkit-transform: translateY(calc(100% - -15px)) !important;
    }
    p {
        line-height: 23px;
    }
    .featured-quote {
        width: 100% !important;
    }
    .tile-slider__item-desc {
        padding: 0 !important;
    }
    .header-content br {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        max-width: 1248px;
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    .mtop-100, .mtop-140, .mtop-150 {
        margin-top: 0;
    }
    .active > #m-humm,
    .active > #m-zip,
    .active > #m-paypal {
        left: 10px;
    }
    .text-section__title {
        font-size: 16px;
    }
    .cta-br br {
        display: none;
    }
    .cta-br {
        font-size: 33px;
    }
    
}

@media only screen and (max-width: 768px) {
    p {
        width: 100%;
    }
    .vertical-line {
        display: none;
    }
    .container {
        max-width: 1248px;
    }
    .ipad-p0 {
        padding: 0 !important;
    }
    .masonry-item { 
        width: 100% !important;
    }
    .masonry {
        margin-top: 20px;
    }
    .text-inline-big {
        font-size: 12px;
    }
    .letter-users {
        line-height: 1.2;
        padding-top: 10px;
    }
    .number-users {
        font-size: 25px;
    }
    .mtop-100, .mtop-140, .mtop-150 {
        margin-top: 0;
    }
}

@media only screen and (max-width: 576px) {
    .mobile-p0 {
        padding: 0 !important;
    }
    .display-mobile {
        display: block;
    }
    .display-large-screen {
        display: none;
    }
    .mobile-br {
        display: none;
    }
    .masonry-item-content {
        text-align: center;
    }
    .number-users {
        padding-bottom: 10px;
        text-align: left;
    }
    .letter-users {
        text-align: left;
    }
    .text-blue {
        text-align: left;
    }
    .col-sm-6, .col-xs-6 {
        width: auto;
    }
    .col-sm-12 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .pl-0 {
        padding: 0 !important;
    }
    .navbar {
        padding-right: 15px;
        padding-left: 15px;
    }
    .float-right {
        float: left;
    }
    .featured-quote {
        width: 100% !important;
    }
    .mobile-p0 {
        padding: 0;
    }
    .item {
        height: 700px !important;
    }
    .featured-logo {
        position: absolute;
        bottom: -50% !important;
        left: 0 !important;
    }
    .custom-arrow-mobile {
        margin-top: 10% !important;
        text-align: center !important;
    }
    .featured-desc {
        margin-bottom: 20px !important;
    }
    .mtop-100, .mtop-140, .mtop-150 {
        margin-top: 0;
    }
    .cta-br {
        text-align: center;
    }
    .btn-singin-mobile {
        background: #F48329;
    }
    .cta-mobile {
        text-align: center !important;
    }
    .pleft-50 {
        padding-left: 0px;
    }
}



